// ===============
// colors palette
// ===============
:root {
	--primary-font: "Figtree";

	--white: white;
	--white-light: #f4f9fc;
	--primary-text: #343434;

	--blue: #2490eb;
	--dark-blue: #14457b;

	--gray-dark: #222222;

	--dark: #070707;

	--bg-dark-gray: #e4e4e4;
	--bg-light-gray: #f9f9f9;

	--hoverButton: #082544;

	// ================================================================;
}
